{% block form %}
    <form action="" method="post">
        <p>
            <label>Votre prénom</label>
            <input type="text" name="firstname" value="" /><br />

            <label>Votre nom</label>
            <input type="text" name="lastname" value="" /><br />

            <label>Votre email</label>
            <input type="email" name="Email" value="" /><br />

            <label>Votre message</label><textarea rows="8" cols="60" name="message"></textarea><br />
        </p>
    </form>

    <form action="">
        <input type="submit" value="Envoyer" />
    </form>
{% endblock %}


