{% extends 'layout.twig' %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <h1>Je suis la page modify</h1>
    {% include '_postForm.twig' %}
{% endblock %}


